.formulario_section{
    background-color: var(--blue-2);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.formulario_section form{
    width: 329px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
}
