/* Braah Font bold */
@font-face {
    font-family: 'Braah';
    src: url('../fonts/BraahOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Regular font */
@font-face {
    font-family: 'Comfortaa';
    src: url('../fonts/Comfortaa-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* Light font */
@font-face {
    font-family: 'Comfortaa';
    src: url('../fonts/Comfortaa-Light.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}
/* Bold font */
@font-face {
    font-family: 'Comfortaa';
    src: url('../fonts/Comfortaa-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
:root{
    --blue-1: #130064;
    --blue-2: #1F5DAE;
    --orange-1: #E36600;
    --orange-2: #ED2600;
    --green-contact: #55B34D;
    --black-1: #000000;
    --gray-1: #D9D9D9;
    --gray-2: #616161;
    --white: #FFFFFF;
}

body{
    font-family: 'Comfortaa', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
