header{
    background-color: #3E4095;
    height: 80px;
    display: flex;
}

.container-fluid{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.header-style{
    display: flex;
    width: 100%;
    height: 100%;
}


.menu-togle > div:nth-child(1), div:nth-child(2){
    margin-bottom: 7px;
}


@media(max-width: 768px){
    .menu-list{
        display: none;
    }
    .menu-togle{
        display: flex;
        flex-direction: column;
        background-color: #fff;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        cursor: pointer;
    }
    .menu-togle > div {
        justify-content: center;
        width: 30px;
        height: 5px;
        border-radius: 20%;
        background-color: #3E4095;
    }
    .config-header{
        display: none;
    }
    .logo-header{
        flex: 1;
        height: 60px;
        margin-left: 10px;
    }

    .nav-header{
        display: flex;
        flex: 2;
        align-items: center;
        justify-content: flex-end;
        height: 100%;
        margin-right: 5px;
    }
}
