.secundary{
    margin-top: 50px;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.secundary_content{
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: left;
    overflow: hidden;
    position: relative;
}

.secundary h1{
    font-size: 30px;
    margin-bottom: 30px;
}

.bot_venda_style:hover{
    background-color: var(--blue-2);
}
@media (max-width: 600px){
    .secundary{
        margin-top: 25px;
        width: 95%;
    }
    .secundary h1{
        margin-bottom: 20px;
    }
    .secundary_content{
        text-align: center;
        display: flex;
        flex-direction: column;
    }
}
