.services_section{
    margin-left: 18px;
    margin-right: 18px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
}

.services_section .title_main{
    margin-bottom: 50px;
    margin-top: 50px;
    font-size: 30px;
    color: var(--orange-1);
}

.services_section .cards_area{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 20px;
}

.services_section img{
    width: 200px;
}

.services_section .sistems_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    color: var(--gray-2);
    border: 1px var(--blue-2) dashed;
    border-radius: 10px;
    transition: all 0.8s ease-in-out;
    opacity: 0;
    transform: translateY(40px);
    transform:  opacity 0.6s ease-out, transform 0.2s ease-out;
}

.sistems_card.visible{
    opacity: 1;
    transform: translateY(0);
}

.services_section .sistems_card:hover{
    background-color: var(--gray-1);
}

.services_section .sistems_card h1{
    width: 90%;
    margin: 10px;
    color: var(--orange-1);
}

.services_section .sistems_card h4{
    font-family: 'Braah';
    font-size: 14px;
    color: var(--gray-2);
    margin: 10px 20px;
    text-align: center;
}

.services_section .sistems_card h1::before{
    content: url('../images/icon_title.png');
    display: inline-block;
    width: 13px;
    height: auto;
    margin-right: 9px;
    margin-top: 20px;
}

.services_section .sistems_card p{
    font-family: 'Comfortaa';
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: lighter;
    text-align: center;
    cursor: default;
}

.services_section .sistems_card button{
    font-family: 'Comfortaa';
    font-size: 14px;
    color: var(--white);
    width: 134px;
    height: 39px;
    margin: 18px;
    border-radius: 20px;
    border: none;
    padding: 0;
    background: linear-gradient(to right, #E36600, #E32200);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.services_section .services{
    margin-top: 100px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.services_section .services .service_card_area{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}

.services_section .services .service_card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services_section .services .service_card img{
    margin-bottom: 30px;
}

.services_section .services .service_card p{
    font-size: 14px;
}


@media (max-width: 601px){
    .services_section{
        margin-left: 18px;
        margin-right: 18px;
        margin-top: 44px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
    }
    .services_section>h1{
        margin-bottom: 30px;
    }

    .services_section img{
        width: 100px;
    }

    .services_section .services div{
        margin-bottom: 15px;
    }
    .services_section .cards_area{
        display: flex;
        flex-direction: column;
    }
    .services_section .services .service_card_area{
        display: flex;
        flex-direction: column;
    }
    .services_section .services .service_card h3{
        font-size: 20px;
    }

    .services_section .sistems_card{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
        border: 1px var(--blue-2) dashed;
        border-radius: 10px;
        margin-bottom: 15px;
    }
    .services_section .sistems_card:hover{
        background-color: var(--blue-2);
        color: var(--white);
    }
    .services_section .sistems_card h1{
        width: 90%;
        margin: 10px;
    }
    .services_section .sistems_card h1::before{
        content: url('../images/icon_title.png');
        display: inline-block;
        width: 13px;
        height: auto;
        margin-right: 9px;
        margin-top: 15px;
    }
    .services_section .sistems_card p{
        font-family: 'Comfortaa';
        font-size: 12px;
        margin-left: 10px;
        margin-right: 10px;
        font-weight: lighter;
        text-align: center;
    }

    .services_section .sistems_card button{
        font-family: 'Comfortaa';
        font-size: 12px;
        color: var(--white);
        width: 134px;
        height: 39px;
        /* margin: 18px; */
        border-radius: 20px;
        border: none;
        padding: 0;
        background: linear-gradient(to right, #E36600, #E32200);
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    }

    .services_section .services{
        margin-top: 20px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .services_section .services .service_card{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }

    .services_section .services .second_card{
        margin-left: 15px;
        flex-direction: row-reverse;
    }
    .services_section .services .service_card p{
        font-size: 10px;
    }

}

